[program:opsgrat-notification]
user={{ opsgrat_user }}
group={{ opsgrat_group }}
stopasgroup=true
command={{ install_dir }}/venv/bin/celery -A opsgrat worker --loglevel=INFO --time-limit=86400 -Ofair --concurrency=5 -Q opsgrat_notification --logfile={{ log_dir }}/notification-worker.log --pidfile={{ pid_dir }}/notification-worker.pid 
directory={{ install_dir }}/opsgrat
autostart=true
autorestart=true