[uwsgi]
socket=:{{ opsgrat_uwsgi_port }}
# the base directory (full path)
chdir = {{ install_dir }}/opsgrat
# Django s wsgi file
module = opsgrat.wsgi
# master
master = true
# maximum number of worker processes
processes = 4
# ... with appropriate permissions - may be needed
