<!DOCTYPE html>
<html style="overflow: hidden; height: 100%;" lang="zh-CN">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>OpsGrat安装</title>
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bootstrapValidator.css" rel="stylesheet">
<link href="/static/css/styleWeb.css" rel="stylesheet">

<script src="/static/js/jquery-2.1.1.js"></script>
<script src="/static/js/jquery.form.js"></script>
<script src="/static/js/jquery.validate.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
  <!-- 轮播 -->
  <div id="myCarousel" class="carousel slide">
    <div class="pull-left side-menu col-xs-4">
      <h1>OpsGrat安装</h1>
      <!-- 轮播（Carousel）指标 data-slide-to="0"-->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" class="active"><span>1</span>检查环境配置</li>
        <li data-target="#myCarousel" ><span>2</span>设置基本信息</li>
        <li data-target="#myCarousel" ><span>3</span>设置MySQL</li>
       <li data-target="#myCarousel" ><span>4</span>设置端口</li>
        <li data-target="#myCarousel" ><span>5</span>设置Redis</li>
        <li data-target="#myCarousel" ><span>6</span>设置Rabbit</li>
          <li data-target="#myCarousel" ><span>7</span>安装中</li>
        <li data-target="#myCarousel" ><span class="glyphicon glyphicon-ok"></span>安装完成</li>
      </ol>
    </div>
    <div class="main col-xs-8">
      <!-- 轮播（Carousel）项目 -->
      <div class="carousel-inner" data-wrap="false">
        <div class="item active">
          <h2><img src="/static/images/arrow.png" /> 检查环境配置</h2>
          <div class="content">
            <table class="table">
              <tr><th width="100">操作系统</th><th width="100">版本</th><th width="50">状态</th></tr>

            {% if python %}
              <tr><td>python</td><td></td><td><span class="glyphicon glyphicon-ok"></span></td></tr>
             {% else %}
             <tr><td>python</td><td></td><td><span class="glyphicon glyphicon-remove"></span></td></tr>
             {% endif %}

            {% if ansible %}
              <tr><td>ansible</td><td></td><td><span class="glyphicon glyphicon-ok"></span></td></tr>
            {% else %}
             <tr><td>ansible</td><td></td><td><span class="glyphicon glyphicon-remove"></span>
                 &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" id = "ansible">安装</button></td></tr>
            {% endif %}

            {% if pip %}
              <tr><td>pip</td><td></td><td><span class="glyphicon glyphicon-ok"></span></td></tr>
            {% else %}
                <tr><td>pip</td><td></td><td><span class="glyphicon glyphicon-remove"></span></td></tr>
            {% endif %}

            {% if sshpass %}
              <tr><td>sshpass</td><td></td><td><span class="glyphicon glyphicon-ok"></span></td></tr>
            {% else %}
            <tr><td>sshpass</td><td></td><td><span class="glyphicon glyphicon-remove"></span>
            &nbsp;&nbsp;&nbsp;&nbsp;<button  type="button" id = "sshpass">安装</button></td></tr>
            {% endif %}

{#            {% if mysql %}#}
{#            <tr><td>mysql客户端</td><td></td><td><span class="glyphicon glyphicon-ok"></span></td></tr>#}
{#            {% else %}#}
{#              <tr><td>mysql客户端</td><td></td><td><span class="glyphicon glyphicon-remove"></span></td></tr>#}
{#            {% endif %}#}
            </table>
{#            <p class="tfooter">是否尝试修复（安装)#}
{##}
{#              <label class="radio-inline" style="margin-left:20px; ">#}
{#                <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" disabled ="disabled" > YES#}
{#              </label>#}
{#              <label class="radio-inline">#}
{#                <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option2" checked> NO#}
{#              </label>#}
{#            </p>#}
          </div>
        </div>
        <div class="item">
          <h2><img src="/static/images/arrow.png" />设置基本信息</h2>
          <div class="content">
            <p class="infor">请填写以下基本信息</p>
            <form class="form-horizontal" role="form" id="userForm">
              <div class="form-group">
                <label for="opsgrat_user" class="col-sm-4 control-label" style="text-indent: 100px"><span class="red">*</span>用户：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control " id="opsgrat_user" name="opsgrat_user"  placeholder="请输入用户名称" value="{{ file.opsgrat_user }}">
                </div>
                  <script>
                  </script>
              </div>
              <div class="form-group">
                <label for="opsgrat_group" class="col-sm-4 control-label" style="text-indent: 86px"><span class="red">*</span>用户组：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="opsgrat_group" name="opsgrat_group" placeholder="请输入用户组名称" value="{{ file.opsgrat_group }}">
                </div>
              </div>
              <div class="form-group">
                <label for="install_dir" class="col-sm-4 control-label" style="text-indent: 73px"><span class="red">*</span>安装路径：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="install_dir" name="install_dir" placeholder="请输入安装路径" value="{{ file.install_dir }}">
                </div>
              </div>
                <div class="form-group">
                <label for="log_dir" class="col-sm-4 control-label" style="text-indent: 73px"><span class="red">*</span>日志路径：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="log_dir" name="log_dir" placeholder="请输入日志路径" value="{{ file.log_dir }}">
                </div>
                </div>
                <div class="form-group">
                <label for="pid_dir" class="col-sm-4 control-label" style="text-indent: 59px"><span class="red">*</span>进程ID路径：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="pid_dir" name="pid_dir" placeholder="请输入进程ID路径" value="{{ file.pid_dir }}">
                </div>
                </div>
            </form>
          </div>
        </div>
        <div class="item">
          <h2><img src="/static/images/arrow.png" />设置MySQL</h2>
          <div class="content">
            <p class="infor">请填写以下MySQL的服务的地址、用户、密码的信息</p>
            <form class="form-horizontal" role="form" id="mysqlForm">
              <div class="form-group">
                <label for="host" class="col-sm-4 control-label" style="text-indent: 40px"><span class="red">*</span>MySQL主机名：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="mysql_host" name="mysql_host" placeholder="请输入MySQL主机名"  value="{{ file.mysql_host }}">
                </div>
              </div>
              <div class="form-group">
                <label for="mysql_port" class="col-sm-4 control-label" style="text-indent: 54px"><span class="red">*</span>MySQL端口：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="mysql_port" name="mysql_port" placeholder="请输入MySQL端口" value="{{ file.mysql_port }}">
                </div>
              </div>
                <div class="form-group">
                <label for="mysql_user" class="col-sm-4 control-label" style="text-indent: 40px"><span class="red">*</span>MySQL用户名：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="mysql_user" name="mysql_user" placeholder="请输入MySQL用户名" value="{{ file.mysql_user }}">
                </div>
              </div>
                <div class="form-group">
                <label for="mysql_passowrd" class="col-sm-4 control-label" style="text-indent: 54px"><span class="red">*</span>MySQL密码：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="mysql_user_password" name="mysql_user_password" placeholder="请输入MySQL密码" value="{{ file.mysql_user_password }}">
                </div>
              </div>

            <div class="form-group">
                <label for="mysql_opsgrat_db" class="col-sm-4 control-label" style="text-indent: 18px"><span class="red">*</span>OpsGrat数据库名：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="mysql_opsgrat_db" name="mysql_opsgrat_db" placeholder="如果数据库已存在,则不会导入表" onkeyup="var reg = /^[\_a-z]+$/;if(!reg.test(this.value)) {this.value=''; placeholder='只能输入小写英文和下划线'}" value="{{ file.mysql_opsgrat_db }}">
                </div>
              </div>

                <div class="form-group">
                <label for="mysql_sso_db" class="col-sm-4 control-label" style="text-indent: 45px"><span class="red">*</span>SSO数据库名：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="mysql_sso_db" name="mysql_sso_db" placeholder="如果数据库已存在,则不会导入表" onkeyup="var reg = /^[\_a-z]+$/;if(!reg.test(this.value)) {this.value=''; placeholder='只能输入小写英文和下划线'}" value="{{ file.mysql_sso_db }}">
                </div>
              </div>
            </form>
          </div>
        </div>

      <div class="item">
          <h2><img src="/static/images/arrow.png" />设置端口</h2>
          <div class="content">
            <p class="infor">请填写端口信息</p>
            <form class="form-horizontal" role="form" id="portForm">
              <div class="form-group">
                <label for="opsgrat_uwsgi_port" class="col-sm-4 control-label" style="text-indent: 1px"><span class="red">*</span>OpsGrat_WSGI端口：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="opsgrat_uwsgi_port" name="opsgrat_uwsgi_port" onkeyup="var reg = /^[1-9]+[0-9]*/;if(!reg.test(this.value)) {this.value='';placeholder = '只能输入大于0的数字'}" placeholder="请输入OpsGrat_WSGI端口" value="{{ file.opsgrat_uwsgi_port }}">
                </div>
              </div>
              <div class="form-group">
                <label for="opsgrat_nginx_port" class="col-sm-4 control-label" style="text-indent: 0"><span class="red">*</span>OpsGrat_Nginx端口：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="opsgrat_nginx_port" name="opsgrat_nginx_port" onkeyup="var reg = /^[1-9]+[0-9]*/;if(!reg.test(this.value)) {this.value='';placeholder = '只能输入大于0的数字'}" placeholder="请输入OpsGrat_Nginx端口" value="{{ file.opsgrat_nginx_port }}">
                </div>
              </div>
              <div class="form-group">
                <label for="sso_uwsgi_port" class="col-sm-4 control-label" style="text-indent: 28px"><span class="red">*</span>SSO_WSGI端口：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="sso_uwsgi_port" name="sso_uwsgi_port" onkeyup="var reg = /^[1-9]+[0-9]*/;if(!reg.test(this.value)) {this.value='';placeholder = '只能输入大于0的数字'}" placeholder="请输入SSO_WSGI端口" value="{{ file.sso_uwsgi_port }}">

                </div>
              </div>
              <div class="form-group">
                <label for="sso_nginx_port" class="col-sm-4 control-label" style="text-indent: 27px"><span class="red">*</span>SSO_Nginx端口：</label>
                <div class="col-sm-8">

                 <input type="text" class="form-control" id="sso_nginx_port" name="sso_nginx_port" onkeyup="var reg = /^[1-9]+[0-9]*/;if(!reg.test(this.value)) {this.value='';placeholder = '只能输入大于0的数字'}" placeholder="请输入SSO_Nginx端口" value="{{ file.sso_nginx_port }}">

                </div>
              </div>

            </form>
          </div>
        </div>
        <div class="item">
          <h2><img src="/static/images/arrow.png" />设置Redis</h2>
          <div class="content">
            <p class="infor">请填写以下Redis的主机名、端口、密码的信息</p>
            <form class="form-horizontal" role="form" id="redisForm">
              <div class="form-group">
                <label for="redis_host" class="col-sm-4 control-label" style="text-indent: 48.5px"><span class="red">*</span>Redis主机名：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="redis_host" name="redis_host" placeholder="请输入Redis主机名" value="{{ file.redis_host }}">
                </div>
              </div>
              <div class="form-group">
                <label for="redis_port" class="col-sm-4 control-label" style="text-indent: 62.5px"><span class="red">*</span>Redis端口：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="redis_port" name="redis_port" placeholder="请输入Redis端口" value="{{ file.redis_port }}">
                </div>
              </div>
              <div class="form-group">
                <label for="redis_passwd" class="col-sm-4 control-label" style="text-indent: 68px">Redis密码：</label>
                <div class="col-sm-8">
                    {% if file.redis_passwd != None %}
                  <input type="text" class="form-control" id="redis_passwd" name="redis_passwd" placeholder="请输入Redis密码" value="{{ file.redis_passwd }}">
                    {% else %}
                     <input type="text" class="form-control" id="redis_passwd" name="redis_passwd" placeholder="请输入Redis密码" value="">
                    {% endif %}
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="item">
          <h2><img src="/static/images/arrow.png" />设置Rabbit</h2>
          <div class="content">
            <p class="infor">请填写以下Rabbit的服务的地址、用户、密码的信息</p>
            <form class="form-horizontal" role="form" id="rabbitForm">
              <div class="form-group">
                <label for="rabbitmq_host" class="col-sm-4 control-label" style="text-indent: 43px"><span class="red">*</span>Rabbit主机名：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="rabbitmq_host" name="rabbitmq_host" placeholder="请输入Rabbit主机名" value="{{ file.rabbitmq_host }}">
                </div>
              </div>
              <div class="form-group">
                <label for="rabbitmq_port" class="col-sm-4 control-label" style="text-indent: 56px"><span class="red">*</span>Rabbit端口：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="rabbitmq_port" name="rabbitmq_port" placeholder="请输入Rabbit端口" value="{{ file.rabbitmq_port }}">
                </div>
              </div>
              <div class="form-group">
                <label for="rabbitmq_user" class="col-sm-4 control-label" style="text-indent: 43px"><span class="red">*</span>Rabbit用户名：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="rabbitmq_user" name="rabbitmq_user" placeholder="请输入Rabbit用户名" value="{{ file.rabbitmq_user }}">
                </div>
              </div>
                <div class="form-group">
                <label for="rabbitmq_passwd" class="col-sm-4 control-label" style="text-indent: 56px"><span class="red">*</span>Rabbit密码：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="rabbitmq_passwd" name="rabbitmq_passwd" placeholder="请输入Rabbit密码" value="{{ file.rabbitmq_passwd }}">
                </div>
              </div>
            </form>
          </div>
        </div>

      <div class="item" id="freshSetup">
          <h2><img src="/static/images/arrow.png" />安装中</h2>
          <div class="content">
            <div class="installing" style="">
{#              <p>安装中...</p>#}
                <div class="scroll-box" id = "log">
                </div>
              </div>
          </div>
      </div>

        <div class="item">
           <h2><img src="/static/images/arrow.png" />安装成功</h2>
           <div class="content">
              <div class="success">
              <span class="glyphicon glyphicon-ok"></span>
              <p>安装成功</p>
              <a class="btn btn-info" onclick="use({{ file.opsgrat_uwsgi_port }})">开始使用OpsGrat</a>
            </div>
            </div>
        </div>
      </div>

      <div class="page">
        <a type="button" class="btn btn-info btn-outline" id="cancel"  title="返回至安装第一步并刷新页面" href="#">取消</a>
        <!-- 轮播（Carousel）导航 -->
        <a class="left carousel-control btn btn-info btn-outline" href="#myCarousel" role="button" data-slide="prev"  id = "prevButton">
        上一步
        </a>
       <a class="right carousel-control btn btn-info"  href="#myCarousel" role="button" data-slide="next" id="SubmitButton">
          下一步
        </a>

          <a class="carousel-control btn btn-info"  href="#myCarousel" role="button"  id="reTryButton">
          重试
        </a>


{#         <a id="finishButton">#}
{##}
{#        </a>#}

       <a class="carousel-control btn btn-info"  href="#myCarousel" role="button" id="stopButton">
        停止安装
        </a>

        <!-- 当安装完成 -->
        <a class="btn btn-info" role="button" style="display: none;">关闭</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

var interval_id = null;
function getScriptResult(isInit) {

    $.getJSON('{% url "api_check" %}', {format: "json"}, function(data) {

        if(data.is_running == false && data.result == true ) {
            var web_check_log = data.log;
            var check_log = web_check_log.replace('\n', '<br/>');
            var html_check_log = '<i id="spinner" class="fa fa-spinner fa-spin">' + check_log + '</i>';

            $("#log").html(html_check_log);
            $("#prevButton").show();
            $("#SubmitButton").show();
            $("#stopButton").hide();

            window.clearInterval(interval_id);

        }else if (data.is_running == false && data.result == false){
            var web_check_logs = data.log;
            var check_logs = web_check_logs.replace('\n', '<br/>');
            var html_check_logs = '<i id="spinner" class="fa fa-spinner fa-spin">' + check_logs + '</i>';
            $("#reTryButton").show();
            $("#prevButton").show();
             $("#stopButton").hide();
             $("#log").html(html_check_logs);
             window.clearInterval(interval_id);

        } else if (data.is_running == false && data.result == null){
            var web_logs = data.log;
            var logs = web_logs.replace('\n', '<br/>');
            var html_logs = '<i id="spinner" class="fa fa-spinner fa-spin">' + logs + '</i>';
            $("#reTryButton").show();
            $("#prevButton").show();
             $("#stopButton").hide();
             $("#log").html(html_logs);
        } else {
            var web_log = data.log;
            var log = web_log.replace('\n', '<br/>');
            var html_log = '<i id="spinner" class="fa fa-spinner fa-spin">' + log + '</i>';
            $("#log").html(html_log);
            $("#prevButton").hide();
            $("#SubmitButton").hide();
            $("#reTryButton").hide();
            $("#stopButton").show();

        }
    })

}
$("#stopButton").hide();
{#$("#finishButton").hide();#}
$("#reTryButton").hide();
$(function(){
    $('#myCarousel').carousel({
    pause: true,
    interval: false, //设置不自动播放
    wrap: false, //设置不循环播放
  });
   //获取当前的索引
  $('#myCarousel').on('slide.bs.carousel', function (event) {
      var $hoder = $('#myCarousel').find('.item'),
          $items = $(event.relatedTarget);
      var getIndex = $hoder.index($items);

      //判断当每页的的输入框都添加值之后可以点击下一步，否则为不能点击状态
      if (getIndex == 0 ) {
          $("#stopButton").hide();
          $("#SubmitButton").attr('class', 'right carousel-control btn btn-info')
      }else if (getIndex == 1){
          $("#stopButton").hide();
            $("#opsgrat_user, #opsgrat_group, #install_dir, #log_dir, #pid_dir").keyup(function(){
                if ($.trim($("#opsgrat_user").val())!='' && $.trim($("#opsgrat_group").val())!='' && $.trim($("#install_dir").val())!=''
                    && $.trim($("#log_dir").val())!='' && $.trim($("#pid_dir").val())!=''){

                       $("#SubmitButton").attr('class', 'right carousel-control btn btn-info ');
                }else {
                     $("#SubmitButton").attr('class', 'right carousel-control btn btn-info disabled');
                }
            });
            if  ($("#opsgrat_user").val()!='' &&$("#opsgrat_group").val()!='' && $("#install_dir").val()!=''
                    && $("#log_dir").val()!='' && $("#pid_dir").val()!=''){
                 $("#SubmitButton").attr('class', 'right carousel-control btn btn-info ');
            }else {
                $("#SubmitButton").attr('class', 'right carousel-control btn btn-info disabled');
            }
      }else if (getIndex == 2){
          $("#stopButton").hide();
          $("#mysql_host, #mysql_port, #mysql_user, #mysql_user_password, #mysql_opsgrat_db, #mysql_sso_db").keyup(function(){
                if ($.trim($("#mysql_host").val())!='' && $.trim($("#mysql_port").val())!='' && $.trim($("#mysql_user").val())!=''
                    && $.trim($("#mysql_user_password").val())!='' && $.trim($("#mysql_opsgrat_db").val())!='' && $.trim($("#mysql_sso_db").val())!=''){

                    $("#SubmitButton").attr('class', 'right carousel-control btn btn-info ')
                }else {
                     $("#SubmitButton").attr('class', 'right carousel-control btn btn-info disabled');
                }
          });
          if  ($("#mysql_host").val()!='' && $("#mysql_port").val()!='' && $("#mysql_user").val()!=''
                    && $("#mysql_user_password").val()!= '' && $("#mysql_opsgrat_db").val()!= '' && $("#mysql_sso_db").val()!= ''){
                 $("#SubmitButton").attr('class', 'right carousel-control btn btn-info ');
          }else {
                $("#SubmitButton").attr('class', 'right carousel-control btn btn-info disabled');
          }
      }else if (getIndex == 3){
          $("#stopButton").hide();
          $("#opsgrat_uwsgi_port, #opsgrat_nginx_port, #sso_nginx_port, #sso_uwsgi_port").keyup(function(){
                if ($.trim($("#opsgrat_uwsgi_port").val())!='' && $.trim($("#opsgrat_nginx_port").val())!='' && $.trim($("#sso_nginx_port").val())!=''
                    && $.trim($("#sso_uwsgi_port").val())!=''){

                    $("#SubmitButton").attr('class', 'right carousel-control btn btn-info ')
                }else {
                     $("#SubmitButton").attr('class', 'right carousel-control btn btn-info disabled');
                }
          });
          if  ($("#opsgrat_uwsgi_port").val()!='' && $("#opsgrat_nginx_port").val()!='' && $("#sso_nginx_port").val()!=''
                    && $("#sso_uwsgi_port").val()!= ''){
                 $("#SubmitButton").attr('class', 'right carousel-control btn btn-info ');
          }else {
                $("#SubmitButton").attr('class', 'right carousel-control btn btn-info disabled');
          }
      }else if (getIndex == 4){
          $("#stopButton").hide();
          $("#redis_host, #redis_port").keyup(function(){
                if ($.trim($("#redis_host").val())!='' && $.trim($("#redis_port").val())!=''){

                    $("#SubmitButton").attr('class', 'right carousel-control btn btn-info')
                }else {
                     $("#SubmitButton").attr('class', 'right carousel-control btn btn-info disabled');
                }
          });
          if  ($("#redis_host").val()!='' && $("#redis_port").val()!=''){
                 $("#SubmitButton").attr('class', 'right carousel-control btn btn-info ');
          }else {
                $("#SubmitButton").attr('class', 'right carousel-control btn btn-info disabled');
          }
      }else if (getIndex == 5){
          $("#stopButton").hide();
          $("#rabbitmq_host, #rabbitmq_port, #rabbitmq_user, #rabbitmq_passwd").keyup(function(){
                if ($.trim($("#rabbitmq_host").val())!='' && $.trim($("#rabbitmq_port").val())!='' && $.trim($("#rabbitmq_user").val())!=''
                && $.trim($("#rabbitmq_passwd").val())!=''){

                    $("#SubmitButton").attr('class', 'right carousel-control btn btn-info')
                }else {
                     $("#SubmitButton").attr('class', 'right carousel-control btn btn-info disabled');
                }
          });
          if  ($("#rabbitmq_host").val()!='' && $("#rabbitmq_port").val()!='' && $("#rabbitmq_user").val()!=''
                && $("#rabbitmq_passwd").val()!=''){
                 $("#SubmitButton").attr('class', 'right carousel-control btn btn-info ');
          }else {
                $("#SubmitButton").attr('class', 'right carousel-control btn btn-info disabled');
          }

      }

      else if (getIndex == 6) {
          var form = $("#rabbitForm").validate({
              submitHandler: function(form) {
                  var params ={
                  };
                  $.each($("#userForm,#mysqlForm,#redisForm, #portForm").serializeArray(), function (k, v) {
                      params[v.name] = v.value
                  });
                  $(form).ajaxSubmit({
                      type: 'post',
                      data: params,
                      url: "{% url 'api_setup' %}?format=json",
                      success: function(data){
                          {#var response = ''#}
                          {#if (data) {#}
                          {#    response = JSON.parse(data)#}
                          {#    log(response.pid)#}

                          $.ajax({
                              type:"get",
                              url:"{% url 'api_check' %}?format=json",

                          });
                          getScriptResult(true);
                          interval_id = setInterval("getScriptResult(false)", 2*1000);

                      },
                      error: function(data) {
                          var content = data.responseText;
                          try {
                              var json = $.parseJSON(data.responseText);
                              if(typeof json.detail != 'undefined') content = json.detail;
                          } catch (e) {
                              content = "服务端错误"
                          }
                      }
                  });
              }

          });
          $("#rabbitForm").submit();

          $("#cancel").hide();

      } else if (getIndex == 7){
          $("#prevButton").hide();
          $("#reTryButton").hide();
          $("#SubmitButton").hide();
          $("#stopButton").hide();
      }

  })
});



$("#cancel").on("click", function (e) {
    window.location.href = "/setup/"

});

function use(port) {
    var address = window.location.hostname;
    window.location.href = "http://" + address + ':' + port

}


$("#prevButton").on("click", function (e) {
     $("#SubmitButton").attr('class', 'right carousel-control btn btn-info');
     $("#reTryButton").hide();
      $("#SubmitButton").show();

});


$("#reTryButton").on("click", function (e) {

   var form = $("#rabbitForm").validate({
       submitHandler: function(form) {
           var params ={
           };
           $.each($("#userForm, #mysqlForm, #redisForm, #portForm").serializeArray(), function (k, v) {
               params[v.name] = v.value
           });
           $(form).ajaxSubmit({
               type:"post",
               data:params,
               url:"{% url 'api_setup' %}?format=json",
               success: function(data){
               $.ajax({
                   type:"get",
                   url:"{% url 'api_check' %}?format=json",
               });
               getScriptResult(true);
               interval_id = setInterval("getScriptResult(false)", 2*1000);
               },
               error: function(data) {
                   var content = data.responseText;
                   try {
                       var json = $.parseJSON(data.responseText);
                       if(typeof json.detail != 'undefined') content = json.detail;
                   } catch (e) {
                       content = "服务端错误"
                   }
               }
           })
       }
       });
    $("#rabbitForm").submit();
});


//安装ansible,并进行进程查询，若进程停止，则停止刷新页面返回数据结果
var interval_ansible = null;
function getAnsibleResult(isInit) {

    $.getJSON('{% url "api_ansible" %}', {format: "json"}, function(data) {
        if (data.result == false){
            window.clearInterval(interval_ansible);
            {#alert('ansible安装成功！')#}
            window.location.reload()
        }

    })
}

$("#ansible").on("click", function (e) {
    $.ajax({
        type:"post",
        url:"{% url 'api_setup_ansible' %}?format=json",
        success:function (data) {
           $.ajax({
               type:"get",
               url:"{% url 'api_ansible' %}?format=json",
           });
           getAnsibleResult(true);
           interval_ansible = setInterval("getAnsibleResult(false)", 2*1000);
        },
        error: function(data) {
            var content = data.responseText;
            try {
                var json = $.parseJSON(data.responseText);
                if(typeof json.detail != 'undefined') content = json.detail;
            } catch (e) {
                content = "服务端错误"
            }
        }
    })
});



//安装sshpass,并进行进程查询，若进程停止，则停止刷新页面返回数据结果
var interval_sshpass = null;
function getSshPassResult(isInit) {

    $.getJSON('{% url "api_sshpass" %}', {format: "json"}, function(data) {
        if (data.result == false){
            window.clearInterval(interval_sshpass);
            {#alert('sshpass安装成功！');#}
            window.location.reload()
        }

    })
}

$("#sshpass").on("click", function (e) {
    $.ajax({
        type:"post",
        url:"{% url 'api_setup_sshpass' %}?format=json",
        success:function (data) {
           $.ajax({
               type:"get",
               url:"{% url 'api_sshpass' %}?format=json",
           });
           getSshPassResult(true);
           interval_sshpass = setInterval("getSshPassResult(false)", 2*1000);
        },
        error: function(data) {
            var content = data.responseText;
            try {
                var json = $.parseJSON(data.responseText);
                if(typeof json.detail != 'undefined') content = json.detail;
            } catch (e) {
                content = "服务端错误"
            }
        }
    })
});


$("#stopButton").on("click", function (e) {
        $.ajax({
        type:"post",
        url:"{% url 'api_stop_pid' %}?format=json",
        success:function (data) {

        },
        error: function(data) {
            var content = data.responseText;
            try {
                var json = $.parseJSON(data.responseText);
                if(typeof json.detail != 'undefined') content = json.detail;
            } catch (e) {
                content = "服务端错误"
            }
        }
    })
})


</script>
</body>
</html>


